# Ignore Python virtual environments
venv/
.venv/
ENV/
env/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore distribution/build folders
dist/
build/
*.egg-info/

# Ignore environment and secret files
.env
.streamlit/secrets.toml
